#tag-row {
	text-align:left;
}
/*------------------Don't let the OLA button grow too wide ----------------*/
.ola-button {
	max-width: 100px;
}
/*-----------------------Tables in the General Panel-----------------------*/
table#generalstatus{
	width:450px;
	float:left;
}
table#generalstatus th{
	width:190px;
}
table#ext{
	margin-left:5px;
	width:505px;
	float:left;
}
table#ext th{
	width:150px;
}
table#ext td:first-of-type{
	width:325px;
}
table#bandstatus tr:first-child th{
	width:auto;
}
table tr.separatortitle{
	background-color:#B8C6EB;
	text-align:center !important;
	height:15px !important;
	font-size:12px;
	font-weight:bold;
	color:black;
}
table#bandstatus tr td{
	width:auto;
	text-align:center;
}
table#bandstatus tr th{
	width:190px;
}
table#fiberopticstatus tr td{
	width:auto;
	text-align:center;
}
table#fiberopticstatus tr th{
	width:190px;
}
table#powerstatus td{
	width:5.55%;
}
/*-----------------------Number fields-----------------------*/
div.panel div.contents table tr td.number{
}
/*-----------------------Panel status led-----------------------*/
div.panel div.header .led{
	margin-right:4px;
}
/*-----------------------The border between rows-----------------------*/
table.horizontal tr td+td,
table.vertical th.borderleft,
table.vertical td.borderleft{
	border-left:1px solid #999;
}
/*-----------------------SELECT BOXES-----------------------*/
table#bandstatus tr td select{
	width:180px;
}
/*-----------------------BASIC ADVANCED LINKS-----------------------*/
/* This one is just a fix for center-aligning the header for general status even though it's a horizontal table*/
table.horizontal#generalstatus th#alightcenter{
	text-align:center !important;
}
/*-----------------------These classes are used more as an indigation for showing or hiding a column-----------------------*/
.band1{
}
.band2{
}
.band3{
}
.band4{
}
.fo1{
}
.fo2{
}
.fo3{
}
.fo4{
}